version: "3.9"

services:

  apache:
    image: httpd:2.4
    container_name: apache
    ports:
      - "8080:80"
    volumes:
      - ./apache/my-vhost.conf:/usr/local/apache2/conf/httpd.conf
      - ./src:/var/www/html
    depends_on:
      - php
    networks:
      - lamp

  php:
    build: ./php
    container_name: php
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - lamp

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: company
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - lamp

volumes:
  db_data:

networks:
  lamp:
